/* Mobile First */
body {
  font-size: 16px;
}

@media (min-width: 600px) {
  body {
      font-size: 18px;
  }
 
}

@media (min-width: 1200px) {
  body {
      font-size: 20px;
  }
}

/* Large TV screens (over 1600px wide) */
@media (min-width: 1600px) {
  body {
    font-size: 30px; /* Larger font size for readability on very large screens */
  }

  .navbar {
    padding: 1.5em; /* Increase padding for more space */
    font-size: 2rem; 
  }

  .navbar a, .navbar button {
    padding: 0.75em 1.5em; /* Adjust padding for larger screen */
  }

  .jobsitelist-container,
  .materiallist-container,
  .punchlist-container {
    padding: 2em; /* More padding for larger containers */
  }

  .newjob, .searchbar-container,
  .punchlist-card {
    max-width: 50%; /* Reduce the max-width to better utilize space on large screens */
  }
  .checkbox {
    transform: scale(1.5); /* Increase or decrease the number for size */
    margin: 20px;
  }
  .create-jobsite-wrapper {
    max-width: 800px; /* Wider wrapper for larger screens */
  }

  .job-card-button, .materialbtn, .deletebtn,
  .punchlist-card {
    font-size: 1.2em; /* Larger buttons for better usability */
    padding: 1em; /* Increase padding for larger buttons */
  }

  .copybtnM {
    display: flex;
    margin-left: auto;
    font-size: 1.2em; /* Larger buttons for better usability */
    padding: 1em; 
  }

  .copybtn {
    font-size: 1em;
    padding: 1em;
  }

  .edit-btn-m {
    font-size: 1.2em; /* Larger buttons for better usability */
    padding: 1em; 
  }

  .punchbtn {
    font-size: 1.2em;
    padding: 1em;
  }

  .copybtn-punch {
    font-size: 1em;
    padding: 1em;
  }

  /* .search-input-j {
    padding: 1em;
  } */

  .seach-input-m, .search-input-j {
    font-size: 1.5em; 
    padding: 1em;
  }

  .punch-input {
    font-size: 1.5em; 
    padding: 3em;
  }

  .label-item-p {
    font-size: 2em;
  }
  .user-name-title{
    font-size: 2.5em;
    padding: 3em;
  }

  .punchlist-title {
    font-size: 2.5em;
    padding: 3em;
  }

  .material-title {
    font-size: 2.5em;
    padding: 3em;
  }

  .textarea-material{
    font-size: 1em; 
    padding: 1em;
  }

  .material-textarea-edit, .material-date{
    font-size: 1em; 
    padding: 1em;
  }


  table th, table td {
    font-size: 2rem; 
    width: 100%;
    box-sizing: border-box;
  }

/* Ensure larger tables are fully visible */
  thead, tbody {
    
    display: block;
    overflow-x: auto;
  }
  th, td {

    padding: 20px;
    font-size: 3rem; 
 
  }
  tr {
    display: flex;
    flex-direction: row; 
    margin-bottom: 50px;
}
}
/* 4K and very large widescreens (over 2560px wide) */
@media (min-width: 2560px) {
  body {
    font-size: 30px; /* Larger font size for very large screens */
  }

  .navbar {
    padding: 2em; /* Further increase padding for large screens */
  }

  .navbar a, .navbar button {
    padding: 1em 2em; /* Adjust padding for very large screens */
  }

  .jobsitelist-container,
  .materiallist-container,
  .punchlist-container {
    padding: 2.5em; /* Even more padding for very large containers */
    
  }
 
  .newjob, .searchbar-container,
  .punchlist-card {   
    max-width: 35%; /* Adjust max-width for very large screens */
  }
 

  .create-jobsite-wrapper {
    max-width: 1000px; /* Wider wrapper for very large screens */
  }

  .job-card-button, .materialbtn, .deletebtn,
  .punchlist-card  {
    font-size: 1.5em; /* Larger buttons for better usability */
    padding: 1.25em; /* Increase padding for very large buttons */
  }

  .punchlist-card {
    font-size: 2em; /* Larger buttons for better usability */
    padding: 1.25em; 
  }

  .checkbox {
    transform: scale(2.0); /* Increase or decrease the number for size */
    margin: 20px;
  }
  .punchbtn-delete {
    font-size: 1em;
    padding: 1em;
  }
  .copybtn-punch {
    font-size: 1em;
    padding: 1em;
  }

  .punchlist-title {
    font-size: 2.5em;
    padding: 3em;
  }

  .material-title {
    font-size: 2.5em;
    padding: 3em;
  }

   table th, table td {
    width: 100%;
    box-sizing: border-box;
  }
  
  .search-input-j{
    font-size: 1.2em; 
    padding: 1em;
}

  /* Ensure larger tables are fully visible */
  thead, tbody {
    display: block;
    overflow-x: auto;
  }

  th, td {
    padding: 20px;
    font-size: 1em; 
 
}

  tr {
    display: flex;
    flex-direction: row; 
    margin-bottom: 50px;
}
}



/* Navbar Container */
.navbar {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 1em; 
  background-color: #333; 
  width: 100%; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box; 
  
}

/* Navbar Items */
.navbar a, .navbar button {
  color: white; 
  text-decoration: none; 
  padding: 0.5em 1em;
  margin: 0; 
  flex: 1; 
  text-align: center;
  transition: color 0.3s;
  box-sizing: border-box; 
}


 @media (max-width: 768px ) {    
  .navbar {
    flex-direction: column; 
    align-items: stretch; 
  } 
}


.navbar a:hover, .navbar button:hover {
  background-color: #555; 
  color: #fff; 
}

.navbar a.active {
  color: #ED9455;
}
 /* user details */
.user-name-title {
  text-align: center;
  background-color: #FFBB70;
  padding: 20px;
}



/* Home/jobsites */



/* form title for jobs */
.create-title {
  text-align: center;
  background-color: #B4B4B8;
  padding: 20px;

}

.jobsitelist-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1em;
  padding: 1em;
}

.newjob {
  flex: 1;
  max-width: 40%; 
  margin-right: 20px;
}

.searchbar-container {
  flex: 2;
  max-width: 55%; 
}

.searchbar-jobsite {
  margin-bottom: 20px;
}

.search-input-j{
    border: 2px solid #FFBB70;
    border-radius: 5px;
    font-size: 30px;
}
   

@media (max-width: 768px) {
  .jobsitelist-container {
    flex-direction: column;
  }

  .newjob, .searchbar-container {
    max-width: 98%;
    margin-right: 0;
    margin-bottom: 20px;
  }
  
}



.jobsite-title{
  text-align: center;
  background: linear-gradient(to right,  #FFBB70,  #ED9455);
  padding: 20px;
}

.display-jobsites {
  border: 2px solid #ccc;
  border-radius: 10px;
  background: linear-gradient(to right,  #B4B4B8,   #ddd);

}

.job-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
  gap: 1em;
  padding: 0.5em;
  border: 2px solid #ddd;
  border-radius: 5px;
  background: rgba(128, 128, 128, 0.5);
}

.job-card-button {
  flex: 6;
  padding: 1em;
  border: none;
  border-radius: 5px;
  background-color: #FFBB70;
  color: white;
  cursor: pointer;
  text-align: center;
  font-size: 1em;
  transition: background-color 0.3s, transform 0.1s;
}

.job-card-button:hover {
  background-color: #ED9455;
  /* transform: scale(1.05); */
}

.delete-button {
  flex: 0;
  background-color: red;
  color: white;
  border: none;
  padding:  0.5em;  
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 0.5em;
  font-size: 0.75em; 
  transition: background-color 0.3s;
}

.delete-button:hover {
  background-color: darkred;
}

@media (max-width: 768px) {
  .job-card-container {
      flex-direction: row;
  }

  .job-card-link {
      margin: 0.5em 0;
  }
}

.create-jobsite-wrapper {
  max-width: 600px;
  margin: 0 auto;
  padding: 1em;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.new-form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.new-form-group label {
  font-size: 1em;
}

/* controls all form inputs */
.new-form-group input {
  padding: 0.75em;
  font-size: 1em;
  border-radius: 8px;
  border: 2px solid #ccc;
  width: 90%;
}
.new-form-group input:hover{
  background-color:  #ED9455;
}

button {
  background-color: #FFBB70;
  border: none;
  border-radius: 5px;
  padding: 0.75em;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s, transform 0.1s;
}

button:hover {
  background-color: #ED9455;
  transform: scale(1.05);
}

@media (max-width: 600px) {
  .create-jobsite-wrapper {
    padding: 0.5em;
  }
}
/* edit input fields for jobsite table */
.job-input-edit {
  font-size: 1em;

}


/* start materials */
.material-title {
  text-align: center;
  background: linear-gradient(to left,  #B4B4B8,   #ddd);
  padding: 20px;
}

.create-new-title {
  text-align: center;
  background-color: #B4B4B8;
  padding: 20px;

}

.materiallist-container {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between; 
  gap: 1em;
  padding: 1em;
  border: 2px solid #ddd;
  border-radius: 5px;
  background: rgba(128, 128, 128, 0.5);
}

.equal-section {
  flex: 1; 

}

.material-section {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.material-search-bar {
  margin-bottom: 1em;
}

.material-cards {
  display: flex;
  flex-direction: column;
  gap: 1em;
  flex: 3;
  
}

@media (max-width: 768px) {
  .materiallist-container {
      flex-direction: column;
  }

  .equal-section {
      max-width: 100%;
  }
}


.new-material {
    flex: 2;
    max-width: 400px;
    margin-right: 20px;
  }

  .material-search-bar {
    flex: 1;
    width: 55%;
  
    
  }
  .seach-input-m {
    border: 2px solid #FFBB70;
    border-radius: 5px;
  }

.material-card {
  display: flex; 
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
  gap: 1em;
  padding: 0.5em;
  border: 2px solid #ddd;
  border-radius: 5px;
  background: linear-gradient(to left,  #B4B4B8, #686D76);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3); /* Basic shadow */
  
}

.materialbtn {
  flex: 6; 
  background-color: #FFBB70;
  color: #fff;
  border: none;
  padding: 0.75em; 
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.materialbtn:hover {
  background-color: #ED9455;
}

.deletebtn {
  flex: 0;
  background-color: red;
  color: white;
  border: none;
  padding: 0.5em; 
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.75em; 
  transition: background-color 0.3s;
}

.deletebtn:hover {
  background-color: darkred;
}

.material-info-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media (max-width: 768px) {
  .material-info-container{
    flex-direction: column;
  }
}
.copybtnM {
  display: flex;
  margin-left: auto;

}


/* start punch list */

.create-punch-title {
  text-align: center;
  background-color: #B4B4B8;
  padding: 20px;

}

.punchlist-title {
  text-align: center;
  background-color: #B4B4B8;
  padding: 20px;

}

.label-item-p {
  font-size: 1em;
}

.punchlist-container {
  display: flex;
  flex-direction: column;
  gap: 1em; 
  padding: 1em;
}

.punchlist-container > div {
  margin-bottom: 1em; 
}

.punchlist-card {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding: 1em;
  border: 1px solid #ddd; 
  border-radius: 5px; 
  background-color: #f9f9f9; 
  margin-bottom: 0.5em; 
}

.punchlist-card button {
  background-color: red;
  color: white;
  border: none;
  padding: 0.5em 1em;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.punchlist-card button:hover {
  background-color: darkred;
}

/* General table styles */
table {
  width: 100%; 
  border-collapse: collapse; 
  background-color: #E3E1D9;
}

thead {
  background-color: #B4B4B8; 
}

th, td {
  padding: 15px; 
  text-align: left; 
  border: 1px solid #ddd; 
  font-size: 1rem; 
}

th {
  font-weight: bold; 
}

tbody tr:nth-child(even) {
  background-color: #B4B4B8; 
}

/* Responsive design */
@media (max-width: 768px) {
  th, td {
      padding: 10px;
      font-size: 1rem; 
  }

  tbody, thead {
      display: block; 
      overflow-x: auto;
  }

  tr {
      display: flex;
      flex-direction: column; 
      margin-bottom: 10px;
  }

  th, td {
      width: 100%;
      box-sizing: border-box;
  }

  th {
      background-color: #B4B4B8; 
      font-size: 1.1rem; 
  }
}

.card {
  display: flex;
  border: 1px solid #ddd;
  padding: 10px;
  width: 600px;
  margin: 20px auto;
}

.image-container {
  flex: 1;
  position: relative;
}

.text-area {
  flex: 1;
  padding: 10px;
}

/* prints */

.print-container {
  text-align: center;
  background: linear-gradient(to right,  #FFBB70,  #ED9455);
  padding: 20px;
}

.print-title {
  text-align: center;
  background-color: #B4B4B8;
  padding: 20px;
  border-radius: 20px;

}

.uploadprintbtn {
  background: linear-gradient(to left,  #FFBB70,  #ED9455);
}

.uploadprintbtn:hover {
  background: linear-gradient(to left,  #B4B4B8,   #ddd);
}

/* IMAGES */

.image-card {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  background-color: black; 
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  width: 100%; 
  max-width: 300px;
  box-sizing: border-box; 
}

.image-card:hover {
  transform: translateX(-5px) translateY(-5px); 
}

.image-card img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.note-section {
  background-color: #F5F5F5; 
  padding: 10px;
  border-radius: 0 10px 10px 0; 
  color: #333;
  flex: 1;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.deletebtn {
  position: relative;
  background-color: red;
  color: white;
  border: none;
  padding: 5px 5px;
  border-radius: 5px;
  cursor: pointer;
}

.note {
  background-color: #F5F5F5;
  border-radius: 0 10px 10px 0; 
  align-items: center;
  padding: 2px;
}

/* Responsive Styles */
@media (max-width: 1200px) {
  .image-card {
    max-width: 250px; 
  }
}

@media (max-width: 900px) {
  .image-card {
    max-width: 200px; 
    margin-bottom: 15px;
  }
}

@media (max-width: 600px) {
  .image-card {
    flex-direction: column; 
    max-width: 100%; 
    margin: 10px auto;
  }
  
  .note-section {
    border-radius: 10px 10px 0 0;
    margin-left: 0;
    margin-top: 10px;
    text-align: center; 
  }
  
  .image-card img {
    width: 80px;
    height: 80px;
  }
}




