
/* Navbar Container */
.navbar {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 1em; 
  background-color: #333; 
  width: 100%; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box; 
}

/* Navbar Items */
.navbar a, .navbar button {
  color: white; 
  text-decoration: none; 
  padding: 0.5em 1em;
  margin: 0; 
  flex: 1; 
  text-align: center;
  transition: color 0.3s;
  box-sizing: border-box; 
}


 @media (max-width: 768px) {
  .navbar {
    flex-direction: column; 
    align-items: stretch; 
  } 
}


.navbar a:hover, .navbar button:hover {
  background-color: #555; 
  color: #fff; 
}

.navbar a.active {
  color: #ED9455;
}
 /* user details */
.user-name-title {
  text-align: center;
  background-color: #FFBB70;
  padding: 20px;
}



/* Home/jobsites */

/* form title for jobs */
.create-title {
  text-align: center;
  background-color: #B4B4B8;
  padding: 20px;

}

.jobsitelist-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

.newjob {
  flex: 1;
  max-width: 40%; 
  margin-right: 20px;
}

.searchbar-container {
  flex: 2;
  max-width: 55%; 
}

.searchbar-jobsite {
  margin-bottom: 20px;
}



@media (max-width: 768px) {
  .jobsitelist-container {
    flex-direction: column;
  }

  .newjob, .searchbar-container {
    max-width: 98%;
    margin-right: 0;
    margin-bottom: 20px;
  }
}



.jobsite-title{
  text-align: center;
  background-color: #B4B4B8;
  padding: 20px;
}


.job-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 1em;
}

.job-card-link {
  flex: 1;
  margin: 0.5em;
}

.job-card-button {
  width: 100%;
  padding: 1em;
  border: none;
  border-radius: 5px;
  background-color: #FFBB70;
  color: white;
  cursor: pointer;
  text-align: center;
  font-size: 1em;
  transition: background-color 0.3s, transform 0.1s;
}

.job-card-button:hover {
  background-color: #ED9455;
  transform: scale(1.05);
}

.delete-button {
  padding: 0.25em 0.5em; 
  border: none;
  border-radius: 5px;
  background-color: red;
  color: white;
  cursor: pointer;
  margin-top: 0.5em;
  font-size: 0.75em; 
  transition: background-color 0.3s;
}

.delete-button:hover {
  background-color: darkred;
}

@media (max-width: 768px) {
  .job-card-container {
      flex-direction: column;
  }

  .job-card-link {
      margin: 0.5em 0;
  }
}

.create-jobsite-wrapper {
  max-width: 600px;
  margin: 0 auto;
  padding: 1em;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.new-form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.new-form-group label {
  font-size: 1em;
}

/* controls all form inputs */
.new-form-group input {
  padding: 0.75em;
  font-size: 1em;
  border-radius: 8px;
  border: 2px solid #ccc;
  width: 90%;
}

button {
  background-color: #FFBB70;
  border: none;
  border-radius: 5px;
  padding: 0.75em;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s, transform 0.1s;
}

button:hover {
  background-color: #ED9455;
  transform: scale(1.05);
}

@media (max-width: 600px) {
  .create-jobsite-wrapper {
    padding: 0.5em;
  }
}


/* start materials */
.material-title {
  text-align: center;
  background-color: #B4B4B8;
  padding: 20px;
}

.materiallist-container {
  display: flex;
  justify-content: space-between; 
  gap: 1em;
  padding: 1em;
}

.equal-section {
  flex: 1; 
}

.material-section {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.material-search-bar {
  margin-bottom: 1em;
}

.material-cards {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

@media (max-width: 768px) {
  .materiallist-container {
      flex-direction: column;
  }

  .equal-section {
      max-width: 100%;
  }
}


.new-material {
    flex: 1;
    max-width: 400px;
  }

  .material-search-bar {
    flex: 1;
    width: 60%;
    
  }

  .material-cards {
    flex: 3;
  }


@media (max-width: 600px) {
  .materiallist-container {
    padding: 0.5em;
  }
}

.material-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  padding: 0.5em;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.materialbtn {
  flex: 6; 
  background-color: #FFBB70;
  color: #fff;
  border: none;
  padding: 0.75em; 
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.materialbtn:hover {
  background-color: #ED9455;
}

.deletebtn {
  flex: 0;
  background-color: red;
  color: white;
  border: none;
  padding: 0.5em; 
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.75em; 
  transition: background-color 0.3s;
}

.deletebtn:hover {
  background-color: darkred;
}



/* start punch list */
.punchlist-container {
  display: flex;
  flex-direction: column;
  gap: 1em; 
  padding: 1em;
}

.punchlist-container > div {
  margin-bottom: 1em; 
}

.punchlist-card {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding: 1em;
  border: 1px solid #ddd; 
  border-radius: 5px; 
  background-color: #f9f9f9; 
  margin-bottom: 0.5em; 
}

.punchlist-card button {
  background-color: red;
  color: white;
  border: none;
  padding: 0.5em 1em;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.punchlist-card button:hover {
  background-color: darkred;
}

/* General table styles */
table {
  width: 100%; 
  border-collapse: collapse; 
  background-color: #E3E1D9;
}

thead {
  background-color: #B4B4B8; 
}

th, td {
  padding: 15px; 
  text-align: left; 
  border: 1px solid #ddd; 
  font-size: 1rem; 
}

th {
  font-weight: bold; 
}

tbody tr:nth-child(even) {
  background-color: #B4B4B8; 
}

/* Responsive design */
@media (max-width: 768px) {
  th, td {
      padding: 10px;
      font-size: 0.9rem; 
  }

  tbody, thead {
      display: block; 
      overflow-x: auto;
  }

  tr {
      display: flex;
      flex-direction: column; 
      margin-bottom: 10px;
  }

  th, td {
      width: 100%;
      box-sizing: border-box;
  }

  th {
      background-color: #B4B4B8; 
      font-size: 1.1rem; 
  }
}

